.container{
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 1.5rem;
}

.stack{
  display:flex;
  flex-direction:column;
  gap:1.25rem;
}

.grid{
  display:grid;
  gap:2rem;
}

.grid-2{
  grid-template-columns: repeat(2, 1fr);
}

@media(min-width: 900px){
  .grid-3{ grid-template-columns: repeat(3, 1fr); }
  .grid-4{ grid-template-columns: repeat(4, 1fr); }
}
